#this is going to be the new order form

<h1> This is the signup page</h1>

<form action='/orders' method="POST">
    Address: <input type=text name="address">
    Item: <input type=text name="item">
    Item_price: <input type=password name="item_price">
    Total: <input type=number name="total">
    <input type=submit>
<form>
